/vendor/bundle
/tmp/*
/coverage/
/spec/tmp/*
*.gem
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# The usual suspects
*~
*.rbc
.bundle
.config
.yardoc
.cache
capybara-*.html
*.diff
.DS_Store
*.err
*.esproj
*.komodoproject
.komodotools
*.log
nbproject
**.orig
pickle-email-*.html
.project
.hg
.idea
.svn
